{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template datafield_harpiainteraction/harpiainteraction_browse

    Definition of the browsing interface for the `harpiainteraction` field .

    @package    datafield_harpiainteraction
    @copyright  2025 C4AI-USP <c4ai@usp.br>
    @author     Vinícius B. Matos
    @license    https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none
   
    Context variables required for this template:
    * query         string   The user's query.
    * answer        string   The answer provider's output.
    * history       array    Previous messages.
    * continue_url  string   URL to continue the conversation (or an empty string if not allowed).

    Example context (json):
    {
        "query": "current question",
        "answer": "current answer",
        "history": [
            "first question",
            "first answer",
            "second question",
            "second answer"
        ],
        "continue_url": "https://example.com/mod/data/edit.php?d=26&parentrid=110"
    }
}}
 
 <div class="harpiainteraction-browse">
    {{#history.0}}
        <details class="harpiainteraction-browse-history">
            <summary>
                {{#str}}history, datafield_harpiainteraction{{/str}}
            </summary>
            <div>
                {{#history}}
                    <div class="message">{{.}}</div>
                {{/history}}
            </div>
        </details>
    {{/history.0}}

    <div>
        <u>{{#str}}query, datafield_harpiainteraction{{/str}}</u>
        <div>
            <div class="message">{{query}}</div>
        </div>
        <u>{{#str}}answer, datafield_harpiainteraction{{/str}}</u>
        <div>
            <span></span>
            <div class="message">{{answer}}</div>
        </div>
    </div>


    <br>

    {{#continue_url}}
        <br>
        <a href="{{{continue_url}}}">
            {{#str}}continue, datafield_harpiainteraction{{/str}}
        </a>
    {{/continue_url}}

</div>

 <style>
    .harpiainteraction-browse-history {
        margin-bottom: 1em;
        padding: 0.3em;
    }

    .harpiainteraction-browse-history:open {
        border: 1px solid;
        border-radius: 0.3em;
        
    }

    .harpiainteraction-browse .message {
        border: 1px solid;
        border-radius: 1em;
        padding: 0.5em;
        margin-bottom: 0.5em;
        width: max(70%, 500px);
        background-color: #cccccc;
        white-space: pre-line;
    }

    .harpiainteraction-browse .message:nth-child(odd) {
        margin-left: auto;
    }
 </style>